.shot-content img {
  width: 353px;
  margin-top: 51px;
  margin-bottom: 30px;
  margin-left: 59px;
  margin-right: 41px;
}
.signed-out-masthead {
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 480px;
  padding-top: 0;
  padding-bottom: 0;
}
.container-large {
  padding-right: 32px;
  padding-left: 32px;
}
.container-large {
  max-width: 1680px;
}
.container-fluid {
  padding-right: 32px;
  padding-left: 32px;
}
.signed-out-masthead .shot-content .signed-out-masthead-image {
  width: 400px;
  height: 266px;
}
.signed-out-masthead .text-content {
  -ms-flex-align: start;
  align-items: flex-start;
  margin-top: 0;
  text-align: left;
}
.signed-out-masthead .text-content h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
}
.signed-out-masthead .shot-content {
  -ms-flex-align: end;
  align-items: flex-end;
  width: auto;
}

/* ============================ */

.logo-black img {
  width: 80px;
}
.large-nav-left {
  margin-left: 1.3125rem;
}
