.signed-out-masthead .text-content h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
}
.signed-out-masthead .shot-content .signed-out-masthead-image {
  width: 510px;
  height: 360px;
}
.container-large {
  padding-right: 72px;
  padding-left: 72px;
}
.container-fluid {
  padding-right: 72px;
  padding-left: 72px;
}
